In [4]:
import pandas as pd

raw_dec_benign = pd.read_csv('../data/raw/dec/decimal_benign.csv')
raw_dec_dos = pd.read_csv('../data/raw/dec/decimal_DoS.csv')
raw_dec_gas = pd.read_csv('../data/raw/dec/decimal_spoofing-GAS.csv')
raw_dec_rpm = pd.read_csv('../data/raw/dec/decimal_spoofing-RPM.csv')
raw_dec_speed = pd.read_csv('../data/raw/dec/decimal_spoofing-SPEED.csv')
raw_dec_wheel = pd.read_csv('../data/raw/dec/decimal_spoofing-STEERING_WHEEL.csv')

In [6]:
# Concatenar verticalmente  
df = pd.concat([  
    raw_dec_benign,  
    raw_dec_dos,  
    raw_dec_gas,  
    raw_dec_rpm,  
    raw_dec_speed,  
    raw_dec_wheel  
], axis=0)  
# Verificar estructura inicial  
print("Dimensiones del dataset combinado:", df.shape)  
df.head()  

#Se combinan datasets separados (benignos y ataques) para crear un único DataFrame.
#Por qué: Facilitar el procesamiento uniforme y evitar sesgos en futuros pasos.

Dimensiones del dataset combinado: (1408219, 12)

,ID,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7,label,category,specific_class
0,65,96,0,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN
1,1068,132,13,160,0,0,0,0,0,BENIGN,BENIGN,BENIGN
2,535,127,255,127,255,127,255,127,255,BENIGN,BENIGN,BENIGN
3,131,15,224,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN
4,936,1,0,39,16,0,0,0,0,BENIGN,BENIGN,BENIGN

In [8]:
df['ID_freq'] = df['ID'].map(df['ID'].value_counts())
df.head()  
#ID_freq: Los ataques generan alta frecuencia en un ID específico (ej. 291).

,ID,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7,label,category,specific_class,ID_freq
0,65,96,0,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN,43193
1,1068,132,13,160,0,0,0,0,0,BENIGN,BENIGN,BENIGN,17278
2,535,127,255,127,255,127,255,127,255,BENIGN,BENIGN,BENIGN,86385
3,131,15,224,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN,8635
4,936,1,0,39,16,0,0,0,0,BENIGN,BENIGN,BENIGN,43193

In [10]:
# Calcular duplicados
duplicados = df.duplicated().sum()
df = df.drop_duplicates()
print(f"Duplicados eliminados: {duplicados}")

#Por qué eliminar duplicados:
#En el EDA, el 99.6% de las filas benignas estaban duplicadas, lo que podría inflar métricas y sesgar modelos.
#En ataques, los duplicados reflejan patrones reales (ej. DoS repite el mismo mensaje). Sin embargo, se eliminan para evitar sobreajuste.

Duplicados eliminados: 1404631

In [12]:
# Feature: Frecuencia
print("Dimensiones del dataset reducido:", df.shape)  
df.head()

Dimensiones del dataset reducido: (3588, 13)

,ID,DATA_0,DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7,label,category,specific_class,ID_freq
0,65,96,0,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN,43193
1,1068,132,13,160,0,0,0,0,0,BENIGN,BENIGN,BENIGN,17278
2,535,127,255,127,255,127,255,127,255,BENIGN,BENIGN,BENIGN,86385
3,131,15,224,0,0,0,0,0,0,BENIGN,BENIGN,BENIGN,8635
4,936,1,0,39,16,0,0,0,0,BENIGN,BENIGN,BENIGN,43193

In [15]:
df.to_csv('../data/clean/df_feat_engineering.csv', index=False)